body {
  color: #444;
  margin: 0;
  padding: 0;
  background-color: #f4f6f9;
  line-height: 1.2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 4px 6px rgba(1, 1, 1, 1.1);
  padding: 24px 0;
  text-align: center;
}
header a {
  text-decoration: none;
  color: inherit;
}
header h1 {
  font-size: 40px;
  margin: 0;
}
nav {
  background-color: #343a40;
  text-align: center;
  padding: 12px;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 0 25px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
nav a:hover {
  color: #ff6347;
  text-decoration: underline;
}
Section {
  background-color: #ffffff;
  border-radius: 8xp;
  margin: 20px 160px auto;
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  padding: 10px 10px;
}
section-hover {
  box-shadow: 0 6px (0, 0, 0, 0.15);
}
table {
  width: 100%;
  margin-top: 14px;
  border-collapse: collapse;
}
table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}
table th {
  background-color: #f1f1f1;
  font-weight: 600;
  color: #333;
}
table tr:nth-child(even) {
  background-color: #f9f9f9;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  margin: 12px 0;
  font-size: 18px;
}
ul li strong {
  color: #007bff;
}
h2 {
  color: #0d0f78;
}
form {
  max-width: 650px;
  margin: 24px auto;
}
form label {
  margin-bottom: 8px;
  font-weight: 600;
  display: block;
}
form input,
form textarea,
form button {
  width: 100%;
  padding: 14px;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  font-size: 16px;
  border-radius: 8px;
}
form input:focus, form textarea:focus{
    border-color: #007bff;
outline:none;
}
form button{
    background-color: #0d4178;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
form button:hover{
    background-color: #007bff;
}
form button:active{
    background-color:black
}